VITE_FIREBASE_APIKEY="<your_firebase_api_key>"
VITE_RAZORPAY_KEY_ID=<your_razorpay_key_id>

VITE_SERVER_URL=http://localhost:5000

VITE_GOOGLE_CLIENT_ID=<your_google_client_id>

VITE_SENTRY_DSN=<your_sentry_dsn>

VITE_OPENREPLAY_PROJECT_KEY=<your_openreplay_project_key>
