# Dependencies
node_modules/

# Build outputs
dist/
build/
coverage/

# Environment files
.env
.env.*
!.env.example

# Logs
logs/
*.log

# Docker
Dockerfile
docker-compose.yml

# Git
.git/
.github/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Misc
*.tgz
.cache/
public/build/
